body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
.top-container{
 background-color: #eabf9f;
 position: relative;
 padding-top: 100px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
position: absolute;
right:300px;
top:50px;
}
.skill-row{
  width:50%;
  margin:100px auto ;
  text-align: left;
  line-height: 2;
}
.designdev{
  float: left;
  margin-right: 12px;
}
.fashion{
  float: right;
  margin-left: 30px;
}
.manage{
  float: left;
  margin-right: 12px;
}
hr{
  border-top-style: dotted;
  border-width: 16px 0 0;
  border-color:  #e2d5d5;
  margin:80px auto;
  width:130px;
}

h1{
margin-top:50px;
font-family: 'Sacramento', cursive;
color: #966c3b;
font-size: 55px;
margin:50px auto 0 auto;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #966c3b;
  line-height: 2;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;;
  color: #966c3b;
}
.middle-container{
margin: 100px 0;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}
a{
  color: #966c3b;
}

.bottom-container{
  background-color: #e2d5d5;
  padding: 40px 0 30px 0;
  line-height: 2;
}
.contact-message{
  margin:25px auto;
}
.btn{
  background-color: #e2d5d5;
  padding: 5px 16px;
  border-radius: 5px;
}
.footer-link{
  padding-right: 20px;
}
